<aside role="complementary">
  <h2>Blog posts</h2>
  <ol>
    {{#each collections.blog as |blog|}}
    <li>
      <a href="/{{ blog.path }}">{{blog.title}}</a>
    </li>
    {{/each}}
  </ol>
  <h2>Status udpates</h2>
  <ol>
    {{#each collections.status as |status|}}
    <li>
      <a href="/{{ status.path }}">{{status.title}}</a>
    </li>
    {{/each}}
  </ol>
</aside>