<footer class="footer" id="footer" role="contentinfo">
  <div>
    <ol class="o-list-bare">
      <a href="https://github.com/growdigital/groundwork" title="Link to Groundwork repository on GitHub">GitHub</a>
      </li>
      <li>
        <a href="https://twitter.com/GroundWorkRocks" title="Link to Groundwork Twitter account">Twitter</a>
      </li>
      <li>
        <a href="mailto:contact@groundwork.rocks" title="Email link to the author">Email</a>
      </li>
      <li>
        <a href="https://www.groundwork.rocks/rss.xml" title="Link to RSS news feed">RSS</a>
      </li>
    </ol>
  </div>
  <div>
    <p>Built by
      <a href="https://www.growdigital.org/">Jake Rayson</a> with
      <a href="http://www.metalsmith.io/">Metalsmith</a>, deployed by
      <a href="https://www.netlify.com/">Netlify</a>
    </p>
    <p>Copyright &copy; Jake Rayson, licensed under
      <a href="https://choosealicense.com/licenses/mit/">MIT</a> &amp;
      <a href="https://choosealicense.com/licenses/gpl-3.0/">GPL v3</a>
  </div>
</footer>