<header class="header h-card" role="banner">
  <div class="h-card">
    <h2>
      <a class="p-org u-url" href="https://blank.groundwork.rocks/" title="Link to home page">{{ site.title }}</a>
    </h2>
    <a href="/" title="Link to home page">
      <img class="u-photo" src="/assets/images/logo.svg" alt="Groundwork logo">
    </a>
    <h3 class="p-note">{{ site.description }}</h3>
  </div>
  <nav role="navigation">
    <ol class="o-list-bare">
      <li>
        <a class="home" href="/">Home</a>
      </li>
      <li>
        <a class="about" href="/about/">About</a>
      </li>
      <li>
        <a class="blog" href="/blog/">Blog</a>
      </li>
      <li>
        <a class="status" href="/status/">Status</a>
      </li>
    </ol>
  </nav>
</header>