/* ==========================================================================
   CSS variables
   ========================================================================== */

:root {
  /* Colors
     ======================================================================== */

  --dark: #383838;
  --gray: #808080;
  --light: #eee;
  --lightest: #f7f7f7;
  --blue: #3131f0;
  --blueviolet: blueviolet;
  --purple: purple;

  /* Base variables, adapated from SUIT CSS
     ======================================================================== */

  --base_font: sans-serif;
  --base_fontsize: 16px;
  --base_lineheight: 1.5;
}
