/* ==========================================================================
   CSS variables
   ========================================================================== */

:root {
  /* Colors
     ======================================================================== */

  --dark: #383838;
  --gray: #808080;
  --blue: #0000ff;
  --light: #eee;
  --lightest: #f7f7f7;

  /* Base variables, adapated from SUIT CSS
     ======================================================================== */

  --base_font: sans-serif;
  --base_fontsize: 16px;
  --base_lineheight: 1.5;
}
