<!doctype html>
<html lang="{{ site.lang }}">
{{> head}}

<body class="no-js {{ path }}">
  {{> header}}
  <div class="wrapper">
    <main role="main">
      {{{ contents }}}
    </main>
    {{> aside}}
  </div>
  {{> footer}}
  <script src="/assets/scripts.js"></script>
</body>

</html>