<!doctype html>
<html lang="{{ site.lang }}">
{{> head}}

<body class="no-js {{ path }}">
  {{> header}}
  <div class="wrapper">
    <main role="main">
      {{{ contents }}} {{#if blogIndex}} {{> listBlog}} {{/if}} {{#if statusIndex}} {{> listStatus}} {{/if}}
      <hr>
    </main>
    {{> aside}}
  </div>
  {{> footer}}
  <script src="/assets/scripts.js"></script>
</body>

</html>