<!doctype html>
<html lang="{{ site.lang }}">
{{> head}}

<body class="no-js status">
  {{> header}}
  <div class="wrapper">
    <article class="status h-entry" itemscope itemtype="https://schema.org/SocialMediaPosting">
      {{> microformats-schema}}
      <div class="e-content">
        <h1 class="p-name">{{ title }}</h1>
        {{{ contents }}}
      </div>
      <time class="dt-published" pubdate itemprop="datePublished">{{ date }}</time>
      {{> microformats-author-url}}
    </article>
  </div>
  {{> footer}}
  <script src="/assets/scripts.js"></script>
</body>

</html>