<!doctype html>
<html lang="{{ site.lang }}">
{{> head}}

<body class="no-js status">
  {{> header}}
  <div class="wrapper">
    <article class="status" itemscope itemtype="http://schema.org/SocialMediaPosting">
      {{{ contents }}}
      <time pubdate>{{ date }}</time>
    </article>
  </div>
  {{> footer}}
  <script src="/assets/scripts.js"></script>
</body>

</html>