<!doctype html>
<html lang="{{ site.lang }}">
{{> head}}

<body class="no-js status">
  {{> header}}
  <div class="wrapper">
    <article class="status" itemscope itemtype="https://schema.org/SocialMediaPosting">
      {{> microformats-schema}} {{{ contents }}}
      <time pubdate itemprop="datePublished">{{ date }}</time>
    </article>
  </div>
  {{> footer}}
  <script src="/assets/scripts.js"></script>
</body>

</html>