<!doctype html>
<html lang="{{ site.lang }}">
{{> head}}

<body class="no-js status">
  {{> header}}
  <div class="wrapper">
    <div class="status">
      {{{ contents }}}
      <time>{{ date }}</time>
    </div>
  </div>
  {{> footer}}
  <script src="/assets/scripts.js"></script>
</body>

</html>